
<!-- HERO -->
<section id="hero" class="module-hero color-white parallax" data-background="<%= image_path('terrace-banner.jpg')%>" style="height: 300px;">
  <!-- HERO TEXT -->
  <div class="hero-caption">
    <div class="hero-text">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h1 class="montserrat text-uppercase text-xxl m-t-80">TIME TO PIMP</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END HERO -->

<!-- YOUR INFO -->
<section class="module-xs bg-white-dark">
  <div class="container p-b-20">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="montserrat text-uppercase m-b-10">Your info</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 text-center">
      <% if !@balcony.photo.url %>
        <% case @balcony.model %>
        <% when 'small' %>
          <%= cl_image_tag("Balcony_small_e5bs0y.jpg", height: 300, width: 300, crop: :fill, radius:5) %>
        <% when 'medium' %>
          <%= cl_image_tag("Balcony_medium_aldzgn.jpg", height: 300, width: 300, crop: :fill, radius:5) %>
        <% else %>
          <%= cl_image_tag("Balcony_large_nextht.jpg", height: 300, width: 300, crop: :fill, radius:5) %>
        <% end %>

      <% else %>
        <%= cl_image_tag @balcony.photo, height: 300, width: 300, crop: :fill, radius:5 %>
      <% end %>

      <div >
        <%= simple_form_for @balcony do |f| %>
          <%= f.input :photo, label: false %>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.submit 'Upload your picture', class: "btn btn-xs btn-base" %>
        <% end %>
      </div>

    </div>
    <div class="col-sm-4">
        <p><b class = "margin">Name:</b><%= current_user.first_name %>'s balcony</p><hr>
        <p><b class = "margin">City:</b><%= @balcony.city %></p><hr>
        <% Department.all.each do |department| %>
          <% if department.number == @balcony.department.to_s[0..1].to_i %>
            <h3 class="montserrat text-uppercase p-t-40 p-b-20 text-center">Your local weather</h3>
            <p><i class="fa fa-bullseye" aria-hidden="true" style="font-size:25px;color:black;"></i>&nbsp;&nbsp;&nbsp;<b>Temperature range: </b> <%= department.temperature_min %> to <%= department.temperature_max %>°C </p><hr>
            <p><i class="fa fa-tint" aria-hidden="true" style="font-size:25px;color:#87CEEB;"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Annual Pluviometry: </b><%= department.pluviometry %> (mm) </p><hr>
            <p><i class="fa fa-sun-o" aria-hidden="true" style="font-size:25px;color:#DAA520;"></i>&nbsp;&nbsp;&nbsp;<b>Sunshine Amount: </b><%= department.sunshine_amount %> (hours) </p><hr>
          <% end %>
        <% end %>
    </div>
    <div class="col-sm-4">
      <div class="maps-container m-b-10" style="padding: 0px 50px 0px 0px; height: 390px;" >
        <!-- ADD YOUR ADDRESS HERE -->
        <% toto = [] %>
        <% tato = '' %>
          <% toto << [@balcony.latitude, @balcony.longitude] %>
          <% tato = toto.to_s[1..-2] %>
        <div id="map" data-addresses="<%= tato %>, <%= tato %>" data-info="[Pimped balcony]" data-icon="assets/map-icon.png" data-zoom="12">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END YOUR INFO -->



<!-- LE COEUR DU REACTEUR  -->
<section class="p-t-40 p-b-20 p-b-0">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <h1 class="p-t-40">1. Assemble your custom pot </h1>
        <p class="lead m-b-40">  Items are fitted for your balcony</p>
      </div>
    </div><!-- .row -->
  </div>
</section>

<!-- TEXT TABS CENTER -->
<section class="divider-bottom" style="padding-bottom: 40px;">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <!-- TABS -->
        <div class="text-center">
          <ul class="nav-text-tabs">
            <li class="active"><a href="#tabs-3-tab-1" data-toggle="tab">POT</a></li>
          </ul>

          <div class="tab-content">
            <!-- START TAB 1-->
            <div id="tabs-3-tab-1" class="tab-pane active">
              <p class ="m-b-0 m-t-0">Select the pot that fits the most your taste among this selection.</p><br>
              <!-- START CARROUSSEL-->
              <div class="box-carousel" data-carousel-options='{"items":"5", "navigation": true}'>
                <% Item.all.where(category: "Pot").each do |pot| %>
                  <div class="item">
                    <%= cl_image_tag pot.photo, height: 250, width: 250, crop: :fill %>
                    <p class="m-t-10"><%= pot.name %></p>
                    <p class="m-t-10">
                    <%= link_to duplicate_item_path(pot, name: current_user.first_name), method: :post do %>
                      <h3><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></h3>
                    <% end %>
                    </p>
                  </div>
                <% end %>
              </div>
              <!-- END CAROUSEL-->
            </div>
            <!-- END TAB 1-->
          </div>
        </div>
        <!-- END TABS -->
      </div>

      <!-- Array ICON -->
      <div class="col-sm-12">
        <div class="text-center">
          <h1><i class="fa fa-arrow-circle-down" aria-hidden="true" style="color: #27CBC0; height: 100px; width:100px;"></i></h1>
        </div>
      </div>


    </div><!-- .row -->
  </div>
</section>
<!-- END TEXT TABS CENTER -->
<!-- END LE COEUR DU REACTEUR -->

<!-- #############################################################YOUR CUSTOM POT############################################################## -->
<section class="p-t-30 p-b-20">
  <% c_item = Item.where(category: 'Custom').where("name LIKE '%#{current_user.first_name}%'").last %>
  <% unless c_item.nil? %>

    <div class="container" style ="background-color: #27CBC0; opacity: 0.8; width:90%; border-radius: 20px; padding: 20px 40px 20px 40px" >
      <div class="row m-b-20">

        <!-- PRICE -->
        <div class="col-sm-1 text-center">
          <h3 style="color:white"><%= 'Total: ' + c_item.price.to_s + ' €' %></h3>
        </div>

        <!-- TITLE -->
        <div class="col-sm-4 col-sm-offset-3 text-center">
          <h1 style="color:white"> Your Custom pot </h1>
          <div class="shop-item-title">
            <% if c_item.slot - c_item.plants.size != 0 %>
              <h5 style="color:white"><%= 'You can add ' + (c_item.slot - c_item.plants.size).to_s + ' plants to your pot' %></h5>
            <% else %>
              <h5 style="color:white"><%= 'Your pot is filled, save it to your balcony :-)' %></h5>
            <% end %>
          </div>
        </div>

        <!-- EXIT -->
        <div class="col-sm-1 col-sm-offset-3 text-center">
          <h5><%= link_to "X", item_path(c_item), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-circle btn-outline btn-gray" %></h5>
        </div>

      </div><!-- .row -->

      <section class="divider-bottom", style= "padding-bottom: 0px;">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">

              <div class="text-center">
                <ul id= "custom-nav-tabs" class="nav-text-tabs" style ="color: white">
                  <li class="active" style= "color: #E3E4E8"><a href="#tabs-3-tab-0" data-toggle="tab">All</a></li>
                  <li><a href="#tabs-3-tab-1" data-toggle="tab">Herbs</a></li>
                  <li><a href="#tabs-3-tab-2" data-toggle="tab">Fruit</a></li>
                  <li><a href="#tabs-3-tab-3" data-toggle="tab">Flower</a></li>
                </ul>

                <div class="tab-content">

                  <!-- START TAB 0-->
                  <div id="tabs-3-tab-0" class="tab-pane active">
                    <!-- START CARROUSSEL-->
                    <div class="box-carousel" data-carousel-options='{"items":"6", "navigation": true}' style="background-color:white; border-radius: 20px; padding: 0px 30px 0px 30px; padding-top: 20px;">
                        <% Plant.all.each do |plant| %>
                          <div class="item">
                            <h5 class="p-t-5"><%= plant.name %></h5>
                            <%= cl_image_tag plant.photo, height: 200, width: 250, crop: :fill %>
                              <h3 class="m-t-10">
                                <%= link_to add_plant_item_path(c_item, plant: plant.id), method: :post do %>
                                  <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></h3>
                                <% end %>
                              </h3>
                          </div>
                        <% end %>
                    </div>
                    <!-- END CAROUSEL-->
                  </div>

                  <!-- START TAB 1-->
                  <div id="tabs-3-tab-1" class="tab-pane">
                    <!-- START CARROUSSEL-->
                    <div class="box-carousel" data-carousel-options='{"items":"6", "navigation": true}' style="background-color:white; border-radius: 20px; padding: 0px 30px 0px 30px; padding-top: 20px;">
                        <% Plant.where(category:"herb").each do |plant| %>
                        <div class="item">
                          <h5 class="p-t-5"><%= plant.name %></h5>
                          <%= cl_image_tag plant.photo, height: 200, width: 250, crop: :fill %>
                            <h3 class="m-t-10">
                              <%= link_to add_plant_item_path(c_item, plant: plant.id), method: :post do %>
                                <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></h3>
                              <% end %>
                            </h3>
                        </div>
                      <% end %>
                    </div>
                    <!-- END CAROUSEL-->
                  </div>

                  <!-- START TAB 2-->
                  <div id="tabs-3-tab-2" class="tab-pane">
                    <!-- START CARROUSSEL-->
                    <div class="box-carousel" data-carousel-options='{"items":"6", "navigation": true}' style="background-color:white; border-radius: 20px; margin-right:10px; margin-left:10px; padding-top: 20px;">

                        <% Plant.where(category:"fruit").each do |plant| %>
                          <div class="item">
                            <h5 class="p-t-5"><%= plant.name %></h5>
                            <%= cl_image_tag plant.photo, height: 200, width: 250, crop: :fill %>
                              <h3 class="m-t-10">
                                <%= link_to add_plant_item_path(c_item, plant: plant.id), method: :post do %>
                                  <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></h3>
                                <% end %>
                              </h3>
                          </div>
                        <% end %>
                      </div>
                    <!-- END CAROUSEL-->
                    </div>


                  <!-- START TAB 3-->
                  <div id="tabs-3-tab-3" class="tab-pane">
                    <!-- START CARROUSSEL-->
                    <div class="box-carousel" data-carousel-options='{"items":"6", "navigation": true}' style="background-color:white; border-radius: 20px; margin-right:10px; margin-left:10px; padding-top: 20px;">

                        <% Plant.where(category:"flower").each do |plant| %>
                        <div class="item">
                          <h5 class="p-t-5"><%= plant.name %></h5>
                          <%= cl_image_tag plant.photo, height: 200, width: 250, crop: :fill %>
                            <h3 class="m-t-10">
                              <%= link_to add_plant_item_path(c_item, plant: plant.id), method: :post do %>
                                <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></h3>
                              <% end %>
                            </h3>
                        </div>
                      <% end %>
                    </div>
                    <!-- END CAROUSEL-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="container">
        <div class="row m-b-40">
          <!-- SHOP ITEM -->
          <div class="col-sm-2 col-sm-offset-1 col-md-2 col-md-offset-1 col-lg-2 col-lg-offset-1" style="background-color:white; border-radius: 20px; margin-right:10px; margin-left:10px;">
            <div class="shop-item p-t-20">
              <div class="shop-item-photo">
                <h4 class="text-center"><%= c_item.name %></h4>
                <%= cl_image_tag c_item.photo, height: 130, width: 150, crop: :fill %>
              </div>
              <div class="shop-item-title">

              </div>
            </div>
          </div>
          <% c_item.plants.first(4).each do |plant| %>
            <div class="col-sm-2 col-md-2 col-lg-2" style="background-color:white; border-radius: 20px;  margin-right:10px; margin-left:10px;">
              <div class="shop-item">
                <div class="shop-item-photo text-center">
                  <h5 class="p-t-20"><%= plant.name %></h5>
                  <%= cl_image_tag plant.photo, height: 100, width: 150, crop: :fill %>
                </div>
              </div>
              <div class="shop-item-title">
                <%= link_to remove_plant_item_path(c_item, plant: plant.id), method: :post do%>
                  <h3><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></h3>
                <% end %>
              </div>
            </div>
          <% end %>
          <!-- END SHOP ITEM -->
        </div><!-- .row -->
      </div>

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
          <h1 class="lead m-b-20" style="color:black"><%= button_to "Add to your balcony", add_item_balcony_path(@balcony, item: c_item.id), class: "btn btn-lg btn-circle btn-gray" %></h1>
        </div>
      </div><!-- .row -->
  </div>
  <% end %>

</section>


<!-- PRODUCT SELECTION -->

<!-- LE COEUR DU REACTEUR 2 -->
<section class="p-t-40 p-b-20 p-b-0">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <h1 class="p-t-40">2. Add your Deco   </h1>
        <p class="lead m-b-40"> That is also part of pimping  </p>
      </div>
    </div><!-- .row -->
  </div>
</section>

<!-- TEXT TABS CENTER -->
<section class="divider-bottom" style="padding-bottom: 40px;">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <!-- TABS -->
        <div class="text-center">
          <ul class="nav-text-tabs">
            <li class="active"><a href="#tabs-3-tab-1" data-toggle="tab">DECO</a></li>
          </ul>

          <div class="tab-content">
            <!-- START TAB 1-->
            <div id="tabs-3-tab-1" class="tab-pane active">
              <p class ="m-b-0 m-t-0">Select any deco item</p><br>
              <!-- START CARROUSSEL-->
              <div class="box-carousel" data-carousel-options='{"items":"5", "navigation": true}'>
                <% Item.all.where(category: "Deco").each do |pot| %>
                  <div class="item">
                    <%= cl_image_tag pot.photo, height: 250, width: 250, crop: :fill %>
                    <p class="m-t-10"><%= pot.name %></p>
                    <p class="m-t-10">
                    <%= link_to duplicate_item_path(pot, name: current_user.first_name), method: :post do %>
                      <h3><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></h3>
                    <% end %>
                    </p>
                  </div>
                <% end %>
              </div>
              <!-- END CAROUSEL-->
            </div>
            <!-- END TAB 1-->
          </div>
        </div>
        <!-- END TABS -->
      </div>

      <!-- Array ICON -->
      <div class="col-sm-12">
        <div class="text-center">
          <h1><i class="fa fa-arrow-circle-down" aria-hidden="true" style="color: #27CBC0; height: 100px; width:100px;"></i></h1>
        </div>
      </div>


    </div><!-- .row -->
  </div>
</section>
<!-- END TEXT TABS CENTER -->
<!-- END LE COEUR DU REACTEUR -->


<!-- FINAL RECAP -->
<section class="p-t-40 p-b-20 p-b-0 bg-white-dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <h1 class="p-t-40">This is it !    </h1>
        <p class="lead m-b-40"> Purchase your balcony items or save it for future!  </p>
      </div>
    </div><!-- .row -->
  </div>
</section>


<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <br>
      <h1 class="text-center">Your balcony detail</h1>
        <% unless @balcony.items == nil %>
        <ul>
          <% @balcony.items.each do |item| %>
            <li><p>Item: <%=  item.name %>: <%= humanized_money_with_symbol(item.price) %></li>
            <li><p>Total Amount: <%= humanized_money_with_symbol(10) %></li>
          <% end %>
        </ul>
        <% end %>
      <br>
      <%= link_to "return to homepage", root_path, class: "btn btn-lg btn-outline btn-base" %>

     </div>
  </div><!-- .row -->

</div>

<!-- PORTFOLIO -->
<section class=" m-t-40 p-b-0">
  <div class="container">

    <!-- WORKS WRAPPER -->
    <div class="works-grid-wrapper">

      <!-- WORKS GRID -->
      <div id="works-grid" class="works-grid works-grid-4">

        <!-- PORTFOLIO ITEM -->
        <% Item.where.not(category: "Pot").where.not(category: "Custom").each do |product| %>
          <article class="work-item <%= product.category.downcase %>" style="padding: 20px 20px 40px 20px;">
            <div class="work-wrapper">
              <%= cl_image_tag product.photo, height: 500, width: 720, crop: :fill %>
              <div class="work-overlay">
                <div class="work-caption">
                  <div class="work-title" style="text-align:center;">
                    <h5><%= humanized_money_with_symbol(product.price) %> </h5>
                      <%= link_to add_item_balcony_path(@balcony, item: product.id), method: :post do %>
                          <h2>
                          <i class="fa fa-plus-circle fa-lg" aria-hidden="true" style="color:black; width: 100px;"></i>
                          </h2>
                      <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class="work-title p-t-20" style="text-align:center;">
              <h5><%= link_to product.name, item_path(product.id) %></h5>
            </div>
          </article>
        <% end %>
        <!-- END PORTFOLIO ITEM -->
      </div>
      <!-- END WORKS GRID -->
    </div>
    <!-- END WORKS WRAPPER -->

    <!-- END PORTFOLIO -->
  </div>
  <!-- END WRAPPER -->
</section>

<!-- YOUR BALCONY ITEMS -->
<section class="p-t-40 p-b-20 p-b-0 bg-white-dark">
  <div class="container">
    <div class="row">

      <div class="col-sm-8 col-sm-offset-2 text-center">
        <h1 class="p-t-40"> Your balcony items </h1>
        <!-- <p class="lead m-b-40"></p> -->
      </div>

      <div class="row">
        <% @balcony.items.each do |item| %>
          <div class="col-sm-8 col-sm-offset-2 text-center">
            <%= cl_image_tag item.photo, height: 90, width: 120, crop: :fill %>
            <%= link_to remove_item_balcony_path(@balcony, item: item.id), method: :post  do %>
              <h3><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></h3>
            <% end %>
            <br>
          </div>
        <% end %>
      </div><!-- .row -->

    </div><!-- .row -->
  </div>

<!-- PROGRESSBAR -->
  <div class="container text-center">
    <%= button_to "Add balcony to cart", add_collection_to_cart_balcony_path(@balcony), class: "btn btn-success" %>
    <h6 class="progress-title">Room left in your balcony <span class="pull-right"><span>80</span>%</span></h6>
    <div class="progress">
      <div class="progress-bar progress-bar-success" role="progressbar"
      aria-valuenow= "<%= @balcony.items.sum(:length)%>" aria-valuemin="0" aria-valuemax= "<%= @balcony.length%>" >
      </div>
    </div>
  </div>
</section>

<!-- END YOUR BALCONY ITEMS -->
