
<!-- HERO -->
<section id="hero" class="module-hero color-white parallax" data-background="<%= image_path('terrace-banner.jpg')%>" style="height: 300px;">
  <!-- HERO TEXT -->
  <div class="hero-caption">
    <div class="hero-text">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h1 class="montserrat text-uppercase text-xxl m-t-80">TIME TO PIMP</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END HERO -->

<!-- YOUR INFO -->
<section class="module-xs bg-white-dark">
  <div class="container p-b-20">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="montserrat text-uppercase m-b-10">Your info</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 text-center">
      <% if !@balcony.photo.url %>
        <% case @balcony.model %>
        <% when 'small' %>
          <%= cl_image_tag("Balcony_small_e5bs0y.jpg", height: 300, width: 300, crop: :fill, radius:5) %>
        <% when 'medium' %>
          <%= cl_image_tag("Balcony_medium_aldzgn.jpg", height: 300, width: 300, crop: :fill, radius:5) %>
        <% else %>
          <%= cl_image_tag("Balcony_large_nextht.jpg", height: 300, width: 300, crop: :fill, radius:5) %>
        <% end %>

      <% else %>
        <%= cl_image_tag @balcony.photo, height: 300, width: 300, crop: :fill, radius:5 %>
      <% end %>

      <div >
        <%= simple_form_for @balcony do |f| %>
          <%= f.input :photo, label: false %>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.submit 'Upload your picture', class: "btn btn-xs btn-base" %>
        <% end %>
      </div>

    </div>
    <div class="col-sm-4">
        <p><b class = "margin">Name:</b><%= current_user.first_name %>'s balcony</p><hr>
        <p><b class = "margin">Orientation:</b><%= @balcony.orientation %></p><hr>
        <p><b class = "margin">City:</b><%= @balcony.city %></p><hr>
        <% Department.all.each do |department| %>
          <% if department.number == @balcony.department.to_s[0..1].to_i %>
            <h3 class="montserrat text-uppercase p-t-10 p-b-10 text-center">Your local weather info</h3>
            <p><b>Temperature range: </b> <%= department.temperature_min %> - <%= department.temperature_max %> (°C)   <i class="fa fa-bullseye" aria-hidden="true" style="font-size:25px;color:black;"></i></p><hr>
            <p><b>Annual Pluviometry: </b><%= department.pluviometry %> (mm)   <i class="fa fa-tint" aria-hidden="true" style="font-size:25px;color:#87CEEB;"></i></p><hr>
            <p><b>Sunshine Amount: </b><%= department.sunshine_amount %> (hours)   <i class="fa fa-sun-o" aria-hidden="true" style="font-size:25px;color:#DAA520;"></i></p><hr>
          <% end %>
        <% end %>
    </div>
    <div class="col-sm-4">
      <div class="maps-container m-b-10" style="padding: 0px 50px 0px 0px; height: 390px;" >
        <!-- ADD YOUR ADDRESS HERE -->
        <% toto = [] %>
        <% tato = '' %>
          <% toto << [@balcony.latitude, @balcony.longitude] %>
          <% tato = toto.to_s[1..-2] %>
        <div id="map" data-addresses="<%= tato %>, <%= tato %>" data-info="[Pimped balcony]" data-icon="assets/map-icon.png" data-zoom="12">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END YOUR INFO -->

<!-- LE COEUR DU REACTEUR  -->
<section class="p-t-40 p-b-20 p-b-0">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <h1 class="p-t-40">Assemble your custom pot </h1>
        <p class="lead m-b-40"> All items are fitted to your very own balcony</p>
      </div>
    </div><!-- .row -->
  </div>
</section>

<!-- TEXT TABS CENTER -->
<section class="divider-bottom", style= "padding-bottom: 80px;">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">

				<!-- TABS -->
				<div class="text-center">
					<ul class="nav-text-tabs">
						<li class="active"><a href="#tabs-3-tab-1" data-toggle="tab">1.Pot</a></li>
						<li><a href="#tabs-3-tab-2" data-toggle="tab">2.Plant</a></li>
						<li><a href="#tabs-3-tab-3" data-toggle="tab">3.Deco</a></li>
					</ul>

					<div class="tab-content">
            <!-- START TAB 1-->
						<div id="tabs-3-tab-1" class="tab-pane active">
              <p class ="m-b-0 m-t-0">First step: take time to select the pot that fits the most your taste among this selection.</p><br>
              <!-- START CARROUSSEL-->
              <div class="box-carousel" data-carousel-options='{"items":"5", "navigation": true}'>
                <% Item.all.where(category: "Pot").each do |pot| %>
                  <div class="item">
                    <%= cl_image_tag pot.photo, height: 250, width: 250, crop: :fill %>
                    <p class="m-t-10"><%= pot.name %></p>
                    <%= button_to "Pick this pot", duplicate_item_path(pot, name: current_user.first_name), class: "btn btn-round btn-base" %>
                  </div>
                <% end %>
  						</div>
  						<!-- END CAROUSEL-->
						</div>
            <!-- END TAB 1-->


            <!-- START TAB 2-->
						<div id="tabs-3-tab-2" class="tab-pane">
              <p class ="m-b-0 m-t-0">second step: fill your pot with fresh </p><br>
              <!-- START CARROUSSEL-->
              <div class="box-carousel" data-carousel-options='{"items":"5", "navigation": true}'>
                <% Plant.all.each do |plant| %>
                  <div class="item">
                      <%= cl_image_tag plant.photo, height: 250, width: 250, crop: :fill %>
                      <p class="m-t-10"><%= plant.name %></p>
                      <%= button_to "Add plant", add_plant_item_path(plant, plant: plant.id), method: :post, class: "btn btn-round btn-base" %>
                  </div>
                <% end %>
              </div>
              <!-- END CAROUSEL-->
            </div>
            <!-- END TAB 2-->

            <!-- START TAB 3-->
						<div id="tabs-3-tab-3" class="tab-pane">
              <p class ="m-b-0 m-t-0">First step: take time to select the pot that fits the most your taste among this selection.</p><br>
              <!-- START CARROUSSEL-->
              <div class="box-carousel" data-carousel-options='{"items":"5", "navigation": true}'>
                <% Item.all.where(category: "Deco").each do |deco| %>
                  <div class="item">
                    <%= cl_image_tag deco.photo, height: 250, width: 250, crop: :fill %>
                    <p class="m-t-10"><%= deco.name %></p>
                    <%= button_to "Pick item", duplicate_item_path(deco, name: current_user.first_name), class: "btn btn-round btn-base" %>
                  </div>
                <% end %>
              </div>
              <!-- END CAROUSEL-->
            </div>
            <!-- END TAB 2-->
          <hr>
					</div>
				</div>
				<!-- END TABS -->
			</div>
		</div><!-- .row -->
	</div>
</section>
<!-- END TEXT TABS CENTER -->
<!-- END LE COEUR DU REACTEUR -->

<!-- YOUR CUSTOM POT -->
<section class=" p-t-30 p-b-20" style = "background-color: #27CBC0; opacity: 0.7">
  <% Item.all.where(category: 'Custom').where("name LIKE '%#{current_user.first_name}%'").each do |item| %>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <h1 style="color:white"> Your Custom pot </h1>
        <p class="lead m-b-40" style="color:white"> Assemble your custom pot and add it to your balcony</p>
      </div>
    </div><!-- .row -->

    <div class="row multi-columns-row">

        <!-- SHOP ITEM -->
        <div class="col-sm-2 col-md-2 col-lg-2 m-b-20" style="background-color:white; border-radius: 20px; margin-right:10px; margin-left:10px;">
          <div class="shop-item">
            <div class="shop-item-photo">
              <%= cl_image_tag item.photo %>
            </div>
            <div class="shop-item-title">
              <h5><%= item.name %></h5>
              <h5><%= 'your pot has ' + item.slot.to_s + ' slot' %></h5>
              <h5><%= 'your pot has ' + item.plants.size.to_s + ' plants in !' %></h5>
              <h5><%= 'Total price: ' + item.price.to_s + ' €' %></h5>
              <%= button_to "Add item", add_item_balcony_path(@balcony, item: item.id), class: "btn btn-success" %>
              <%= link_to "Destroy your custom pot", item_path(item), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-link" %>
            </div>
          </div>
        </div>

        <% Plant.first(4).each do |plant| %>
        <div class="col-sm-2 col-md-2 col-lg-2" style="background-color:white; border-radius: 20px;  margin-right:10px; margin-left:10px;">
          <div class="shop-item">
            <div class="shop-item-photo">
              <%= cl_image_tag plant.photo %>
            </div>
          </div>
          <div class="shop-item-title">
            <h5><%= plant.name %></h5>
            <h5><%= link_to "Add plant", add_plant_item_path(plant, plant: plant.id), method: :post %></h5>
          </div>
        </div>
        <% end %>
        <!-- END SHOP ITEM -->
      <% end %>


    </div><!-- .row -->

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <%= button_to "Add to your balcony", complete_path, class: "btn btn-round btn-warning" %>
      </div>
    </div><!-- .row -->

  </div>
</section>


<!-- YOUR BALCONY ITEMS -->
<section class="p-t-40 p-b-20 p-b-0 bg-white-dark">
  <div class="container">
    <div class="row">

      <div class="col-sm-8 col-sm-offset-2 text-center">
        <h1 class="p-t-40"> Your balcony items </h1>
        <p class="lead m-b-40"> this is the list of your items</p>
      </div>

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
          <%= button_to "Add to cart", complete_path, class: "btn btn-round btn-warning" %>
          <br>
          <%= button_to "SAVE", complete_path, class: "btn btn-round btn-warning" %>
        </div>
      </div><!-- .row -->

    </div><!-- .row -->
  </div>
</section>

<!-- END YOUR BALCONY ITEMS -->


<!-- #################################################################################################TEST -->

<section>
  <div class="container">
    <hr class="m-t-20 m-b-20">
    <div class="row multi-columns-row">
      <% Item.all.where(category: 'Custom').where("name LIKE '%#{current_user.first_name}%'").each do |item| %>
        <!-- SHOP ITEM -->
        <div class="col-sm-3 col-md-3 col-lg-3">
          <div class="shop-item">
            <div class="shop-item-photo">
              <%= cl_image_tag item.photo %>
              <div class="shop-item-tools">
                <div>
                  <div>
                  </div>
                </div>
              </div>
            </div>
            <div class="shop-item-title">
              <h5><%= item.name %></h5>
              <h5><%= 'your pot has ' + item.slot.to_s + ' slot' %></h5>
              <h5><%= 'your pot has ' + item.plants.size.to_s + ' plants in !' %></h5>
              <h5><%= 'Total price: ' + item.price.to_s + ' €' %></h5>
              <%= button_to "Add item", add_item_balcony_path(@balcony, item: item.id), class: "btn btn-success" %>
              <%= link_to "Destroy your custom pot", item_path(item), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-link" %>
            </div>
          </div>
        </div>
        <!-- END SHOP ITEM -->
    </div><!-- .row -->



    <section class="module">
      <div class="container">
        <div style="position: relative; height: 326.3px;" class="gallery gallery-4">
          <% Plant.all.each do |plant| %>
          <div style="position: absolute; left: 0px; top: 0px;" class="gallery-item">
            <%= cl_image_tag plant.photo, height: 90, width: 120, crop: :fill %>
            <h5><%= plant.name %></h5>
            <h5><%= link_to "Add plant", add_plant_item_path(item, plant: plant.id), method: :post %></h5>
          </div>
          <% end %>
        </div><!-- .gallery -->
      </div>
    </section>
      <% end %>
  </div>
</section>



<!-- #################################################################################################TESTCUSTOMPOT -->

<div class="container text-center">
  <%= button_to "Add balcony to cart", add_collection_to_cart_balcony_path(@balcony), class: "btn btn-success" %>
  <h6 class="progress-title">Room left in your balcony <span class="pull-right"><span>80</span>%</span></h6>
  <div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar"
    aria-valuenow= "<%= @balcony.items.sum(:length)%>" aria-valuemin="0" aria-valuemax= "<%= @balcony.length%>" >
    <p>
      <%= (100 * (@balcony.items.sum(:length).to_f / @balcony.length.to_f)).round(1).to_s + '%' %>
    </p>
    </div>
  </div>
</div>
<!-- #################################################################################################TESTPICKITEM -->
