
<!-- HERO -->
<section id="hero" class="module-hero color-white parallax" data-background="<%= image_path('terrace-banner.jpg')%>" style="height: 300px;">
  <!-- HERO TEXT -->
  <div class="hero-caption">
    <div class="hero-text">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h1 class="montserrat text-uppercase text-xxl m-t-80">TIME TO PIMP</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END HERO -->

<!-- YOUR INFO -->
<section class="module-xs bg-white-dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="montserrat text-uppercase m-b-10">Your info</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 text-center">
      <%= cl_image_tag current_user.balconies.last.photo, height: 300, width: 300, crop: :fill %>
    </div>
    <div class="col-sm-4">
        <p><b class = "margin">Name:</b><%= current_user.first_name %>'s balcony</p><hr>
        <p><b class = "margin">Model:</b><%= current_user.balconies.last.model %></p><hr>
        <p><b class = "margin">length:</b><%= current_user.balconies.last.length %></p><hr>
        <p><b class = "margin">City:</b><%= current_user.balconies.last.city %></p><hr>
        <p><b class = "margin">Orientation:</b><%= current_user.balconies.last.orientation %></p><hr>
    </div>
    <div class="col-sm-4">
    </div>
  </div>
</section>
<!-- END YOUR INFO -->






<!-- #################################################################################################TEST -->
<section class="module">
  <div class="container">
    <hr class="m-t-20 m-b-20">
    <div class="row multi-columns-row">
      <% @balcony.items.all.each do |item| %>

        <!-- SHOP ITEM -->
        <div class="col-sm-2 col-md-2 col-lg-2">
          <div class="shop-item">
            <div class="shop-item-photo">
              <%= cl_image_tag item.photo %>
              <div class="shop-item-tools">
                <div>
                  <div>
                  </div>
                    <%= button_to "remove item", remove_item_balcony_path(@balcony, item: item.id), class: "btn btn-link" %>
                </div>
              </div>
            </div>
            <div class="shop-item-title">
              <h5><%= item.name %></h5>
            </div>
          </div>
        </div>
        <!-- END SHOP ITEM -->
      <% end %>
    </div><!-- .row -->
  </div>
</section>
<div class="container text-center">
  <%= button_to "Add balcony to cart", add_collection_to_cart_balcony_path(@balcony), class: "btn btn-success" %>
  <h6 class="progress-title">Room left in your balcony <span class="pull-right"><span>80</span>%</span></h6>
  <div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar"
    aria-valuenow= "<%= @balcony.items.sum(:length)%>" aria-valuemin="0" aria-valuemax= "<%= @balcony.length%>" >
    <p>
      <%= (100 * (@balcony.items.sum(:length).to_f / @balcony.length.to_f)).round(1).to_s + '%' %>
    </p>
    </div>
  </div>
</div>
<!-- #################################################################################################TESTPICKITEM -->

<div class="wrapper">

  <section class=" m-t-40 bg-white-dark">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h3 class="montserrat text-uppercase m-t-40">The balcony boutique</h3>
          <!-- PORTFOLIO FILTERS -->
          <div class="row">
            <div class="col-sm-12">
              <ul id="filters" class="filters p-t-20 bg-white-dark">
                <li><a href="#" class="current" data-filter="*">All</a></li>
                <li><a href="#" data-filter=".pot">Pot</a></li>
                <li><a href="#" data-filter=".plant">Plant</a></li>
                <li><a href="#" data-filter=".deco">Deco</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- PORTFOLIO -->
  <section class=" m-t-40 p-b-0">
    <div class="container">

      <!-- WORKS WRAPPER -->
      <div class="works-grid-wrapper">

        <!-- WORKS GRID -->
        <div id="works-grid" class="works-grid works-grid-4">

          <!-- PORTFOLIO ITEM -->
          <% Item.all.where(category: ["Deco","Pot","Plant"]).each do |item| %>
            <article class="work-item <%= item.category.downcase %>" style="padding: 20px 20px 40px 20px;">
              <div class="work-wrapper">
                <%= cl_image_tag item.photo %>
                <div class="work-overlay">
                  <div class="work-caption">
                    <div class="work-title" style="text-align:center;">
                      <h5><%= humanized_money_with_symbol(item.price) %> </h5>
                        <%= link_to add_item_balcony_path(@balcony,item: item.id), method: :post do %>
                            <i class="icon-basket-loaded icons" aria-hidden="true" style="color:white; width: 100px;"></i>
                        <% end %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="work-title p-t-20" style="text-align:center;">
              <h5><%= item.name %></h5>
                <% if current_user.admin == true %>
                  <%= link_to "Remove item", item_path(item), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-link" %>
                <% end %>
              </div>
            </article>
          <% end %>
          <!-- END PORTFOLIO ITEM -->
        </div>
        <!-- END WORKS GRID -->
      </div>
      <!-- END WORKS WRAPPER -->
    </section>
    <!-- END PORTFOLIO -->
  </div>
  <!-- END WRAPPER -->
</div>


<!-- #################################################################################################TEST -->



<!-- #################################################################################################TESTCUSTOMPOT -->

<section class="module">
  <div class="container">
    <hr class="m-t-20 m-b-20">
    <div class="row multi-columns-row">
      <% Item.all.where(category: 'Custom').where("name LIKE '%#{current_user.first_name}%'").each do |item| %>

        <!-- SHOP ITEM -->
        <div class="col-sm-3 col-md-3 col-lg-3">
          <div class="shop-item">
            <div class="shop-item-photo">
              <%= cl_image_tag item.photo %>
              <div class="shop-item-tools">
                <div>
                  <div>
                  </div>
                </div>
              </div>
            </div>
            <div class="shop-item-title">
              <h5><%= item.name %></h5>
              <h5><%= 'your pot has ' + item.slot.to_s + ' slot' %></h5>
              <h5><%= 'your pot has ' + item.plants.size.to_s + ' plants in !' %></h5>
              <h5><%= 'Total price: ' + item.price.to_s + ' €' %></h5>
              <%= button_to "Add item", add_item_balcony_path(@balcony, item: item.id), class: "btn btn-success" %>
              <%= link_to "Destroy your custom pot", item_path(item), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-link" %>
            </div>
          </div>
        </div>
        <!-- END SHOP ITEM -->
    </div><!-- .row -->
    <section class="module">

      <div class="container">

        <div style="position: relative; height: 326.3px;" class="gallery gallery-4">
          <% Plant.all.each do |plant| %>
          <div style="position: absolute; left: 0px; top: 0px;" class="gallery-item">
            <%= cl_image_tag plant.photo, height: 90, width: 120, crop: :fill %>
            <h5><%= plant.name %></h5>
            <h5><%= link_to "Add plant", add_plant_item_path(item, plant: plant.id), method: :post %></h5>

          </div>
          <% end %>
        </div><!-- .gallery -->

      </div>

    </section>
      <% end %>
  </div>
</section>



<!-- #################################################################################################TESTCUSTOMPOT -->





<hr>
<h1>Custom</h1>
<hr>
<% Item.all.where(category: "Pot").each do |pot| %>
  <%= cl_image_tag pot.photo, height: 75, width: 100, crop: :fill %>
  <%= button_to "Pick this pot", duplicate_item_path(pot, name: current_user.first_name), class: "btn btn-success" %>
<% end %>
<hr>


<div style="position: relative; height: 1948.13px;" class="gallery">
  <div style="position: absolute; left: 0px; top: 0px;" class="gallery-item">
    <%= image_tag('Balcony_' + @balcony.model.downcase + '.jpg', class: 'card') %>
  </div>
</div>


<p>Department: <%= @balcony.department %></p>
<p>Lenght: <%= @balcony.length %> (cm)</p>

<h1>Your meteo</h1>

<% Department.all.each do |department| %>
  <% if department.number == @balcony.department.to_s[0..1].to_i %>
    <p>Minimum Temperature: <%= department.temperature_min %> (°C)</p>
    <p>Max Temperature: <%= department.temperature_max %> (°C)</p>
    <p>Annual Pluviometry: <%= department.pluviometry %> (mm)</p>
    <p>Annual Sunshine exposure: <%= department.sunshine_amount %> (hours)</p>
  <% end %>
<% end %>
