
<h1>Your balcony</h1>

<div class="progress">
  <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%">
    0%
  </div>
</div>





<p>Department: <%= @balcony.department %></p>
<p>Lenght: <%= @balcony.length %> (cm)</p>

<h1>Your meteo</h1>

<% Department.all.each do |department| %>
  <% if department.number == @balcony.department.to_s[0..1].to_i %>
    <p>Minimum Temperature: <%= department.temperature_min %> (°C)</p>
    <p>Max Temperature: <%= department.temperature_max %> (°C)</p>
    <p>Annual Pluviometry: <%= department.pluviometry %> (mm)</p>
    <p>Annual Sunshine exposure: <%= department.sunshine_amount %> (hours)</p>
  <% end %>
<% end %>
<h1>Items already attached to your balcony</h1>

<h1>Add Items to your balcony !</h1>

<% Item.all.each do |item| %>
  <%= item.name %>
  <%= item.id %>
  <%= cl_image_tag item.photo, height: 300, width: 400, crop: :fill %>
  <%= button_to "Add item", add_item_balcony_path(@balcony, item: item.id), class: "btn btn-success" %>
<% end %>
