<!-- BANNER  -->
<section data-jarallax-original-styles="background-image: url(&quot;<%= image_path('Sky.jpeg')%>&quot;);" style="background-image: none; background-attachment: scroll; background-size: auto auto;" class="module-sm bg-black-alfa-30 color-white parallax" data-background="<%= image_path('background_green.jpg')%>">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="montserrat text-uppercase m-t-40">DESCRIBE US YOUR HOME BALCONY</h3>
      </div>
    </div>
  </div>
</section>

<section class="m-t-40">
      <div class="container">
        <div class="row">
            <h4 class="text-center m-b-40">Describe your model of balcony</h4>
            <div class="container m-t-20" style: "text-align:right;">
              <div class="row">
                <div class="col-sm-2 col-sm-offset-3 col-xs-12 text-center" style = "height:200px">
                  <%= cl_image_tag "Balcony_small_rl1sde.jpg", height: 200, width:200,  crop: :fill %>
                  <p class="text-center">Smal</p>
                </div>
                <div class="col-sm-2 col-xs-12 text-center" style = "height:200px">
                  <%= cl_image_tag "Balcony_medium_k8wytr.jpg", height: 200, width:200,  crop: :fill %>
                  <p class="text-center">Medium</p>
                </div>

                <div class="col-sm-2 col-xs-12 text-center" style = "height:200px">
                  <%= cl_image_tag "Balcony_large_xsz7bp.jpg", height: 200, width:200,  crop: :fill %>
                  <p class="text-center">Large</p>
                </div>
              </div>
            </div>
        </div><!-- .row -->
      </div>
</section>

<section class="m-t-40">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-sm-offset-4">
            <%= render 'form'%>
          </div>
        </div><!-- .row -->
      </div>
</section>
