
<section data-jarallax-original-styles="background-image: url(&quot;<%= image_path('Sky.jpeg')%>&quot;);" style="background-image: none; background-attachment: scroll; background-size: auto auto;" class="module-sm bg-black-alfa-30 color-white parallax" data-background="<%= image_path('Sky.jpeg')%>">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="montserrat text-uppercase m-t-40">Profile page</h3>
      </div>
    </div>
  </div>
</section>

<!-- USER INFORMATION -->
<div class="container m-t-60 m-b-20 ">
  <div class="row">
		<div class="col-sm-4">
      <div class="text-center center">
        <% if !current_user.picture.url %>
          <%= cl_image_tag "avatar_o6wrwd.png", width: 200, height: 200, crop: :fill %>
        <% else %>
          <%= cl_image_tag current_user.picture, height: 200, width: 200, crop: :fill %>
        <% end %>
        <br>
        <br>
        <%= link_to "Edit your profile", edit_user_path(@user), class: "btn btn-sm btn-round btn-base" %>
      </div>
    </div>
    <div class="col-sm-8">
      <p><b class = "margin">First_name:</b><%= current_user.first_name %></p><hr>
      <p><b class = "margin">Last_name:</b><%= current_user.last_name %> </p><hr>
      <p><b class = "margin">Mail:</b><%= current_user.email %> </p><hr>
      <p><b class = "margin">Status:</b> Early Pimper </p><hr>
      <p><b class = "margin">joined the team:</b> <%= current_user.created_at %> </p><hr>
      <p><b class = "margin">Description: </b>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</div>
<!-- END USER INFORMATION -->
<hr>


<!-- BALCONY INFORMATION -->

<% if !Balcony.find_by_user_id(@user) %>
  <div class="container m-t-60 m-b-60">
    <div class="row">
      <div class="col-sm-4 text-center">
        <%= link_to "Create your Balcony", new_balcony_path, class: "btn btn-sm btn-round btn-base"  %>
      </div>
      <div class="col-sm-8">
        <p>You have no balcony referenced yet, <b>click the button to create it.</b> </p>
      </div>
    </div>
  </div>

<% else %>

<div class="container m-t-60 m-b-60">
  <div class="row">
		<div class="col-sm-4">
      <div class="text-center center">
        <% balcony = Balcony.where(user: current_user).last %>
        <%= cl_image_tag balcony.photo, height: 200, width: 200, crop: :fill %>
        <br>
        <%= link_to "Edit   your balcony", complete_path(balcony), class: "btn btn-outline btn-base" %>
        <br>
        <%= link_to "Delete your balcony", balcony_path(balcony), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline btn-danger" %>
      </div>
    </div>
    <div class="col-sm-8">
      <p><b class = "margin">Your balcony name:</b><%= Balcony.find_by_user_id(@user).name %></p><hr>
      <p><b class = "margin">address</b><%= Balcony.find_by_user_id(@user).address %> </p><hr>
      <p><b class = "margin">orientation:</b><%= Balcony.find_by_user_id(@user).orientation %> </p><hr>
      <p><b class = "margin">department:</b> <%= Balcony.find_by_user_id(@user).department %> </p><hr>

      <br>
      <br>
    </div>
  </div>
</div>
<% end %>

<!-- END BALCONY INFORMATION -->
<hr>
<!-- ORDER INFORMATION -->
<% unless Order.where(user_id: current_user.id).empty? %>
  <div class="container m-t-60 m-b-60">
    <div class="row">
  		<div class="col-sm-4">
        <h1>YOUR ORDERS</h1>
        <br>
          <div class="col-sm-8">
            <div class="container">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Order reference</th>
                    <th>date</th>
                    <th>items</th>
                    <th>amount</th>
                    <th>state</th>
                    <th>delivery</th>
                    <th colspan="3"></th>
                  </tr>
                </thead>

                <% count = 0 %>
                <% Order.where(user_id: current_user.id).all.each do |order| %>
                  <% count += 1 %>
                  <tbody>
                    <tr>
                      <td><%= count %></td>
                      <td><%= order.id%></td>
                      <td><%= order.created_at%> </td>
                      <td>Awesome stuff</td>
                      <td><%= order.amount%></td>
                      <td><%= order.state %></td>
                      <td>pending</td>
                    </tr>
                  </tbody>
                <% end %>
              </table>
            </div>
          </div>
      </div>
    </div>
  </div>
<% end %>



<!-- END ORDER INFORMATION -->
