


<!-- WRAPPER -->
<div class="wrapper">

  <!-- BANNER -->
  <%= render 'shared/banner' %>
  <!-- END banner -->

  <!-- HOW IT WORKS -->
  <section id="about" class="module">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<div class="text-center m-b-70">
						<h1>How it works?</h1>
					</div>
				</div>
			</div>

			<div class="row multi-columns-row">

				<div class="col-sm-4 col-md-4 col-lg-4">
					<div class="box-icon text-center">
						<div class="icon-box-icon">
							<i class="icon-fire icons"></i>
						</div>
						<h4>Branding</h4>
						<p>Donec pede justo fringilla vel aliquet nec vulputate eget arcu. In enim justo rhoncus ut imperdiet a venenatis vitae justo.</p>
					</div>
				</div>

				<div class="col-sm-4 col-md-4 col-lg-4">
					<div class="box-icon text-center">
						<div class="icon-box-icon">
							<i class="icon-wrench icons"></i>
						</div>
						<h4>Development</h4>
						<p>Donec pede justo fringilla vel aliquet nec vulputate eget arcu. In enim justo rhoncus ut imperdiet a venenatis vitae justo.</p>
					</div>
				</div>

				<div class="col-sm-4 col-md-4 col-lg-4">
					<div class="box-icon text-center">
						<div class="icon-box-icon">
							<i class="icon-earphones-alt icons"></i>
						</div>
						<h4>Maintenance</h4>
						<p>Donec pede justo fringilla vel aliquet nec vulputate eget arcu. In enim justo rhoncus ut imperdiet a venenatis vitae justo.</p>
					</div>
				</div>

			</div><!-- .row -->

		</div>
	</section>
  <!-- END HOW IT WORKS -->

  <!-- QUOTE -->
  <section class="module bg-brand-alfa-20 color-white parallax" data-background="assets/quote.jpg">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <h1 class="text-center"> Flower your balcony, flower your life  </h1>
          <h2 class="text-center"> - Austin Power- </h2>
        </div>
      </div>
    </div><!-- .row -->
  </section>
  <!-- END QUOTE -->

  <!-- PORTFOLIO -->
		<section class="module bg-white-dark p-b-0">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<div class="module-header text-center">
							<h2 class="montserrat text-uppercase">Get inspired</h2>
							<p class="lead divider-line">Have a look on our member's pimped balconies</p>
              <%= link_to "More inspiration here", inspiration_path, class: "btn btn-base btn-lg video-pop-up smoothscroll"  %>
						</div>
					</div>
				</div>

				<!-- PORTFOLIO FILTERS -->
				<div class="row">
					<div class="col-sm-12">
						<ul id="filters" class="filters">
							<li><a href="#" class="current" data-filter="*">All</a></li>
              <li><a href="#" data-filter=".small">Small</a></li>
							<li><a href="#" data-filter=".medium">Medium</a></li>
							<li><a href="#" data-filter=".large">Large</a></li>
						</ul>
					</div>
				</div>
				<!-- END PORTFOLIO FILTERS -->

			</div>

			<!-- WORKS WRAPPER -->
			<div class="works-grid-wrapper">

				<!-- WORKS GRID -->
				<div id="works-grid" class="works-grid works-grid-3">

          <!-- PORTFOLIO ITEM -->
          <% Balcony.all.first(6).each do |balcony| %>
					<article class="work-item <%= balcony.model %>">
						<div class="work-wrapper">
              <%= cl_image_tag balcony.photo, height: 400, width: 720, crop: :fill %>
							<div class="work-overlay">
								<div class="work-caption">
									<h6 class="work-title"> <%= balcony.name %> </h6>
									<span class="work-category"> <%= balcony.model %> </span>
								</div>
							</div>
              <%= link_to '#', public_balcony_path(balcony), class: "work-link" %>
						</div>
					</article>
          <% end %>
					<!-- END PORTFOLIO ITEM -->

				</div>
				<!-- END WORKS GRID -->

			</div>
			<!-- END WORKS WRAPPER -->
		</section>
		<!-- END PORTFOLIO -->


  <!-- TESTIMONIALS -->
  <section class="module bg-brand-alfa-60 color-white parallax" data-background="assets/image.jpeg">
  	<div class="container">
  		<div class="row">
  			<div class="col-sm-10 col-sm-offset-1">
          <div class="testimonial-image">
            <img src="assets/images/avatar/2.jpg" alt="">
            <div class="cd-author-info">
              <h5 class="text-700 m-0">Mark Stone</h5>
              Corporation Name, Inc
            </div>
          </div>
          <div class="testimonial">
            The office assistant was the boss's man, spineless, and with no understanding. What about if he reported sick? But that would be extremely strained and suspicious as in fifteen years of service Gregor had never once yet been ill.
          </div>
  			</div>
  		</div>
		</div><!-- .row -->
  </section>
  <!-- END TESTIMONIALS -->

  <section class="module-xs bg-white-dark">
  			<div class="container">

  				<div class="row multi-columns-row">

  					<!-- ICONBOX -->
  					<div class="col-sm-3 col-md-3 col-lg-3">
  						<div class="box-icon-left">
  							<div class="icon-box-icon">
                  <i class="fa fa-smile-o"></i>
  							</div>
  							<h4>Satisfied or refund</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  						</div>
  					</div>
  					<!-- END ICONBOX -->

  					<!-- ICONBOX -->
  					<div class="col-sm-3 col-md-3 col-lg-3">
  						<div class="box-icon-left">
  							<div class="icon-box-icon">
  								<i class="fa fa-truck"></i>
  							</div>
  							<h4>Worldwide Delivery</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  						</div>
  					</div>
  					<!-- END ICONBOX -->

  					<!-- ICONBOX -->
  					<div class="col-sm-3 col-md-3 col-lg-3">
  						<div class="box-icon-left">
  							<div class="icon-box-icon">
  								<i class="fa fa-credit-card"></i>
  							</div>
  							<h4>Secured payment</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  						</div>
  					</div>
  					<!-- END ICONBOX -->

            <!-- ICONBOX -->
            <div class="col-sm-3 col-md-3 col-lg-3">
              <div class="box-icon-left">
                <div class="icon-box-icon">
                  <i class="fa fa-pagelines"></i>
                </div>
                <h4>Sustainable commitment</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </div>
            <!-- END ICONBOX -->

  				</div>

  			</div>
  		</section>


</div>
