<!-- WRAPPER -->
<div class="wrapper">

  <!-- BANNER -->
  <%= render 'shared/banner' %>
  <!-- END banner -->

  <!-- HOW IT WORKS -->
  <section id="about" class="p-t-40 p-b-40">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<div class="text-center m-t-40">
						<h1>How it works?</h1>
					</div>
				</div>
			</div>

			<div class="row multi-columns-row">

				<div class="col-sm-4 col-md-4 col-lg-4">
					<div class="box-icon text-center">
						<div class="icon-box-icon">
							<i class="fa fa-pencil" aria-hidden="true"></i>
						</div>
						<h4>Create</h4>
						<p style = "padding: 0px 60px 0px 60px;"> Create your balcony's profile page, indicate its location, orientation and specificities. </p>
					</div>
				</div>

				<div class="col-sm-4 col-md-4 col-lg-4">
					<div class="box-icon text-center">
						<div class="icon-box-icon">
							<i class="fa fa-hand-pointer-o" aria-hidden="true"></i>
						</div>
						<h4>Select</h4>
						<p style = "padding: 0px 60px 0px 60px;"> Pick up the best fitted items to pimp your balcony and turn your urban space into a fresh garden. </p>
					</div>
				</div>

				<div class="col-sm-4 col-md-4 col-lg-4">
					<div class="box-icon text-center">
						<div class="icon-box-icon">
							<i class="fa fa-pagelines" aria-hidden="true"></i>
						</div>
						<h4>Enjoy</h4>
						<p style = "padding: 0px 60px 0px 60px;">Customize your pot with plants of your choice and receive it all ready to grow, delivered to you.</p>
					</div>
				</div>
        <hr>
			</div><!-- .row -->
		</div>
	</section>
  <!-- END HOW IT WORKS -->

  <!-- QUOTE -->
  <section class="module bg-brand-alfa-20 color-white parallax" data-background="assets/quote.jpg">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <h1 class="text-center"> Flower your balcony, flower your life  </h1>
          <h2 class="text-center"> - Austin Power- </h2>
        </div>
      </div>
    </div><!-- .row -->
  </section>
  <!-- END QUOTE -->

  <!-- PORTFOLIO -->
	<section class="p-t-40 p-b-40 p-b-0">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
          <h1 class="p-t-40">Join the community</h1>
          <p class="lead m-b-40"> by other member's great achievement</p>
          <%= link_to "More inspiration here", inspiration_path, class: "btn btn-base btn-lg video-pop-up smoothscroll"  %>
        </div>
      </div><!-- .row -->
    </div>
  </section>

  <section class="bg-white-dark p-t-10 p-b-0 p-b-0">
		<!-- WORKS WRAPPER -->
		<div class="works-grid-wrapper">
      <!-- PORTFOLIO FILTERS -->
			<div class="row">
				<div class="col-sm-12">
					<ul id="filters" class="filters p-b-10 p-t-10">
						<li class="p-b-5"><a href="#" class="current" data-filter="*">All</a></li>
            <li class="p-b-5"><a href="#" data-filter=".small">Small</a></li>
						<li class="p-b-5"><a href="#" data-filter=".medium">Medium</a></li>
						<li class="p-b-5"><a href="#" data-filter=".large">Large</a></li>
					</ul>
				</div>
			</div>
			<!-- END PORTFOLIO FILTERS -->

      <div class="row">

        <div class="col-sm-8">
      		<!-- WORKS GRID -->
  				<div id="works-grid" class="works-grid works-grid-3">
            <!-- PORTFOLIO ITEM -->
            <% Balcony.all.each do |balcony| %>
  					<article class="work-item <%= balcony.model %>" style="padding: 10px 0px 0px 10px;">
  						<div class="work-wrapper">
                <%= cl_image_tag balcony.photo, height: 400, width: 720, crop: :fill %>
                <div class="work-overlay">
                  <div class="work-caption">
                    <h6 class="work-title"> <%= balcony.name %> </h6>
                    <span class="work-category"> <%= balcony.model %> </span>
                  </div>
                </div>
                <% link_to public_balcony_path(balcony), class: "work-link" %>
  						</div>
  					</article>
            <% end %>
  					<!-- END PORTFOLIO ITEM -->
  				</div>
  				<!-- END WORKS GRID -->
  			</div>

        <div class="col-sm-4">
          <div class="maps-container m-b-10" style="padding: 10px 10px 0px 0px;" >
            <!-- ADD YOUR ADDRESS HERE -->
            <% toto = [] %>
            <% tato = '' %>
            <% Balcony.all.each do |balcony|%>
              <% toto << [balcony.latitude, balcony.longitude] %>
              <% tato = toto.to_s[1..-2] %>
            <% end %>
            <div id="map" data-addresses="<%= tato %>" data-info="[Pimped balcony]" data-icon="assets/map-icon.png" data-zoom="5">
            </div>
            <!-- <div id="map" data-addresses= "[48.859822, 2.352647],[47.394930, 0.683666]" data-info="[Lorem ipsum dolor sit amet.],[Lorem ipsum dolor sit amet.]" data-icon="assets/map-icon.png" data-zoom="5"> -->
          </div>
        </div>
      </div>
		<!-- END WORKS WRAPPER -->
    </div>
	</section>
	<!-- END PORTFOLIO -->

  <!-- PRODUCT -->
  <section class="p-t-40 p-b-40 p-b-0">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
          <h1 class="p-t-40">The best items fitted to you</h1>
          <p class="lead m-b-40"> Oh that's Awesome !   </p>
        <%= link_to "Full catalogue", items_path, class: "btn btn-base btn-lg"  %>
        </div>
      </div><!-- .row -->
    </div>
  </section>

  <!-- IMAGE CAROUSEL -->
   <section class="divider-bottom">
     <div class="container">
       <div class="row">
         <div class="col-sm-12">
           <!-- START CARROUSSEL-->
           <div class="box-carousel" data-carousel-options='{"items":"5", "navigation": true}'>
             <% Item.all.each do |pot| %>
               <div class="item">
                 <%= cl_image_tag pot.photo, height: 250, width: 250, crop: :fill %>
                 <p class="m-t-10 text-center"><%= pot.name %></p>
               </div>
             <% end %>
           </div>
           <!-- END CAROUSEL-->
         </div>
       </div>
     </div>
   </section>
   <!-- END IMAGE CAROUSEL -->

   <!-- NEWSLETTER -->
  <section class="m-t-60 bg-white-dark">
    <div class="container" >
      <div class="row">
         <div class="col-sm-8 col-sm-offset-2 p-t-40 m-b-60 text-center">
           <h1>Sign up to our Newsletter</h1>
           <h3 class="m-b-40"> and receive weekly inspiration</h3>
           <form class="row">
             <div class="col-sm-8 col-sm-offset-2">
               <div class="input-group">
                 <input type="email" class="form-control form-circle input-lg" placeholder="E-mail">
                 <span class="input-group-btn">
                   <button type="submit" class="btn btn-lg btn-circle btn-base">Subscribe</button>
                 </span>
               </div>
             </div>
           </form>
         </div>
       </div>
     </div>
   </section>
   <!-- END NEWSLETTER -->


   <!-- TESTIMONIALS -->
   <section class="" >
    <div class="container p-t-60 p-b-40">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
           <div class="testimonial-image">
             <%= image_tag "fx.jpg" %>
             <div class="cd-author-info">
               <h5 class="text-700 m-0">François-Xavier Abraham</h5>
               <p>E-Marketing et Stratégie</p>
             </div>
           </div>
           <div class="testimonial">
             I pimped my balcony like crazy thank to that kick-ass team. Not only the product recommendation were great, the delivery was awesome. I think about PMB everytime I stare at my flowered balcony. Thanks guys, you're the best.
           </div>
        </div>
      </div>
    </div>
   </section>
   <!-- END TESTIMONIALS -->
</div>
