 <!-- IMAGE CAROUSEL -->
    <section class="module divider-bottom">
      <div class="container">

        <div class="row">
          <div class="col-sm-12">

            <h5 class="montserrat text-uppercase bottom-line">Discover Pinterest inspiring balconies</h5>
            <!-- IMAGE CAROUSEL -->
            <div class="images-carousel" data-carousel-options='{"items":"3", "navigation": true}'>
            <%= image_tag("balcony15.jpg") %>
            <%= image_tag("balcony3.jpg") %>
            <%= image_tag("balcony15.jpg") %>
            <%= image_tag("balcony3.jpg") %>
            <%= image_tag("balcony15.jpg") %>
            <%= image_tag("balcony3.jpg") %>
            </div>
            <!-- END IMAGE CAROUSEL -->

          </div>
        </div>

      </div>
    </section>
    <!-- END IMAGE CAROUSEL -->



 <!-- IMAGE CAROUSEL -->
    <section class="module divider-bottom">
      <div class="container">

        <div class="row">
          <div class="col-sm-12">

            <h5 class="montserrat text-uppercase bottom-line">Pimper top balconies!</h5>
            <!-- IMAGE CAROUSEL -->
            <div class="images-carousel" data-carousel-options='{"items":"3", "navigation": true}'>
            <%= image_tag("balcony15.jpg") %>
            <%= image_tag("balcony3.jpg") %>
            <%= image_tag("balcony15.jpg") %>
            <%= image_tag("balcony3.jpg") %>
            <%= image_tag("balcony15.jpg") %>
            <%= image_tag("balcony3.jpg") %>
            </div>
            <!-- END IMAGE CAROUSEL -->

          </div>
        </div>

      </div>
    </section>
    <!-- END IMAGE CAROUSEL -->






  <!-- SLIDER DEFAULT -->
    <section class="module divider-bottom">
      <div class="container">

        <div class="row">
          <div class="col-sm-12">

            <h5 class="montserrat text-uppercase bottom-line">Discover Pinterest inspiring balconies </h5>
            <!-- SLIDER DEFAULT -->
            <div class="image-slider">
            <%= image_tag("balcony15.jpg") %>
            <%= image_tag("balcony3.jpg") %>
            </div>
            <!-- END SLIDER DEFAULT <--></-->

          </div>
        </div><!-- .row -->

      </div>
    </section>
    <!-- END SLIDER DEFAULT -->


<!--
<% Balcony.all.each do |balcony| %>
  <%= cl_image_tag balcony.photo, height: 300, width: 400, crop: :fill %>
  <%= link_to balcony.name, public_balcony_path(balcony), {class: "btn btn-link"} %>
  <br>
<% end %>
 -->
