
<!-- BANNER  -->
<section id="toto" class=" navtip module-hero bg-black-alfa-30  color-white parallax " data-background="assets/Sky.jpeg">
  <div class="hero-caption">
    <div class="hero-text m-b-5">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h1 class="montserrat text-l m-t-70 m-b-5">Hello <%= current_user.first_name %>, welcome to your profile page</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- USER INFORMATION -->
<div class="container m-t-60 m-b-20 ">
  <div class="row">
		<div class="col-sm-4">
      <div class="text-center center">
        <%= image_tag current_user.picture %>
        <br>
        <br>
        <a href="#" class="btn btn-sm btn-round btn-base">Edit your profile</a>
        <br>
        <a href="#" class="btn btn-sm btn-round btn-gray">Change Picture</a>

        <%= simple_form_for @user do |f| %>
          <%= f.input :picture %>
          <%= f.input :picture_cache, as: :hidden %>
          <%= f.submit 'save settings'  %>
        <% end %>

      </div>
    </div>
    <div class="col-sm-8">
      <p><b class = "margin">First_name:</b><%= current_user.first_name %></p><hr>
      <p><b class = "margin">Last_name:</b><%= current_user.last_name %> </p><hr>
      <p><b class = "margin">Mail:</b><%= current_user.email %> </p><hr>
      <p><b class = "margin">PMB status:</b> Early Pimper </p><hr>
      <p><b class = "margin">joined the team:</b> <%= current_user.created_at %> </p><hr>
      <p><b class = "margin">Description: </b>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</div>
<!-- END USER INFORMATION -->
<hr>
<!-- BALCONY INFORMATION -->

<div class="container m-t-60 m-b-60">
  <div class="row">
		<div class="col-sm-4">
      <div class="text-center center">
        <%= image_tag current_user.picture %>
      </div>
    </div>
    <div class="col-sm-8">
      <% Balcony.all.where(user_id: current_user.id).each do |balcony|%>
        <%= link_to balcony.name, private_balcony_path(balcony.id), { class: "btn btn-link" } %>
        <%= link_to "Delete", balcony_path(balcony), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-link" %>
        <br>
      <% end %>
    </div>
  </div>
</div>



<!-- END BALCONY INFORMATION -->
