<div class="off-canvas-cart">
  <p class = 'text-center' style ="margin-top: 10px;"> Your cart id: #<%=  @cart.id %></p>

    <div style="margin-right: -10px;" class="off-canvas-cart-wrapper">

      <div class="off-canvas-cart-header">
        <a id="cart-toggle" href="#">
          <i class="icon-arrow-right-circle icons"></i>
        </a>
      </div>

      <% if @cart.items.empty? %>
        <div class="row">
          <div class="text-center center-block">
            <hr>
            <p class= "text-center"> Your cart is empty </p>
            <%= link_to "Create your Balcony", new_balcony_path, class: "btn btn-sm btn-round btn-base"  %>
            <br>
            <p> or </p>
            <%= link_to "go shopping", items_path, class: "btn btn-sm btn-round btn-base"  %>
            <br>
            <hr>
          </div>
        </div>

      <% else %>
        <div class="off-canvas-cart-content">
          <div class="off-canvas-cart-content-wrap">
            <% @cart.items.each do |item| %>
              <!-- ITEM -->
              <div class="off-canvas-cart-item">

                <div class="off-canvas-cart-item-trash">
                  <%= link_to remove_item_carts_path(item: item.id), method: :post do %>
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  <% end %>
                </div>

                <div class="off-canvas-cart-item-thumbnail">
                  <%= link_to item_path(item) do %>
                    <%= cl_image_tag item.photo, class: "cart-thumbnail", height: 400, width: 400, crop: :fill %>
                  <% end %>
                </div>

                <div class="off-canvas-cart-item-title">
                  <%= link_to item_path(item) do %>
                    <h5 class="m-b-5"> <%= item.name %> </h5>
                  <% end %>
                    <span> <%= humanized_money_with_symbol(item.price) %> x 1 </span>
                </div>

              </div>
            <% end %>
            <!-- END ITEM -->
          </div>

          <div class="off-canvas-cart-footer">

            <div class="off-canvas-cart-info">
              <div class="row">
                <div class="col-xs-6">
                  <h4 class="m-0">Total:</h4>
                </div>
                <div class="col-xs-6">
                  <h4 class="m-0 text-right"><%= humanized_money_with_symbol(@cart.price) %></h4>
                </div>
              </div>
            </div>

            <div class="off-canvas-cart-control">
              <a href="#" class="btn btn-lg btn-block btn-round btn-base">Checkout</a>
              <%= form_tag orders_path do %>
                <%= hidden_field_tag 'cart_id', @cart.id %>
                <%= submit_tag 'Checkout', class: 'btn btn-lg btn-block btn-round btn-base' %>
              <% end %>
            </div>

          </div>
        </div>
    <% end %>

  </div>
</div>
