<h1>Purchase of your cart <%=  %></h1>
<%= form_tag order_payments_path(@order) do %>
  <article>
    <label class="amount">
      <span>Amount: <%= humanized_money_with_symbol(@order.amount) %></span>
    </label>
  </article>


  <% @cart.items.each do |item| %>
    <%= item.name %>
    <%= item.price %>
  <% end %>




  <!-- Commented for the lecture, remove comments. -->
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-name="My Cart"
    data-description="Order_id: <%= @order.id %>"
    data-amount="<%= @order.amount_cents %>"
    data-currency="EUR"></script>

<% end %>
