<!-- BANNER  -->
<!-- <section id="toto" class=" navtip module-hero bg-black-alfa-30  color-white parallax " data-background="assets/Sky.jpeg">
  <div class="hero-caption">
  </div>
</section> -->

<!-- CARROUSSEL -->
<div class="wrapper">

  <!-- HERO -->
  <div class="flexslider color-white">
    <ul class="slides">

      <!--  -->
      <li class="bg-black-alfa-40" style="background-image:url(<%= image_path('Carrousel_1.jpeg')%>)">
        <!-- HERO TEXT -->
        <div class="hero-caption">
          <div class="hero-text">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 text-center">
                  <h1 class="montserrat text-uppercase text-super-xl m-b-40">Awesome items</h1>
                  <h2 class="montserrat text-uppercase text-xl">Adapted to your balcony</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END HERO TEXT -->
      </li>
      <!--  -->

      <!--  -->
      <li class="bg-black-alfa-40" style="background-image:url(<%= image_path('Carrousel_2.jpeg')%>)">
        <!-- HERO TEXT -->
        <div class="hero-caption">
          <div class="hero-text">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 text-center">
                  <h2 class="montserrat text-uppercase m-b-40">Flower power</h2>
                  <h1 class="montserrat text-uppercase text-super-xl m-b-40"> -20 % on flowers</h1>
                  <p>* by using the coupon code "flower-power", available until july 20th</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END HERO TEXT -->
      </li>
      <!--  -->


      <li class="bg-black-alfa-40" id="tata" style="background-image:url(<%= image_path('Carrousel_3.jpeg')%>)">
        <!-- HERO TEXT -->
        <div class="hero-caption">
          <div class="hero-text">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 text-center">
                  <h2 class="montserrat text-uppercase m-b-40">Get inspired</h2>
                  <h1 class="montserrat text-uppercase text-xxxxxl m-b-40">New Pots</h1>
                  <p>Discover our new range of custom pot for your balcony</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END HERO TEXT -->
      </li>
      <!--  -->
    </ul>
  </div>
  <!-- END HERO -->

  <!-- WRAPPER -->
<div class="wrapper">

  <section class=" m-t-40 bg-white-dark">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h3 class="montserrat text-uppercase m-t-40">The balcony boutique</h3>
          <!-- PORTFOLIO FILTERS -->
    			<div class="row">
    				<div class="col-sm-12">
    					<ul id="filters" class="filters p-t-20 bg-white-dark">
    						<li><a href="#" class="current" data-filter="*">All</a></li>
                <li><a href="#" data-filter=".pot">Pot</a></li>
    						<li><a href="#" data-filter=".plant">Plant</a></li>
    						<li><a href="#" data-filter=".deco">Deco</a></li>
    					</ul>
    				</div>
    			</div>
        </div>
      </div>
    </div>
  </section>

  <!-- PORTFOLIO -->
	<section class=" m-t-40 p-b-0">
    <div class="container">

			<!-- WORKS WRAPPER -->
			<div class="works-grid-wrapper">

				<!-- WORKS GRID -->
				<div id="works-grid" class="works-grid works-grid-4">

          <!-- PORTFOLIO ITEM -->
          <% Item.all.each do |item| %>
  					<article class="work-item <%= item.category.downcase %>" style="padding: 20px 20px 40px 20px;">
  						<div class="work-wrapper">
                <%= cl_image_tag item.photo, height: 500, width: 720, crop: :fill %>
  							<div class="work-overlay">
  								<div class="work-caption">
  									<div class="work-title" style="text-align:center;">
                      <h5><%= humanized_money_with_symbol(item.price) %> </h5>
                        <%= link_to(add_item_carts_path(item: item.id),html_options = { method: :post, class: "dynamic-add-to-cart-item", remote: true}) do %>
                            <i class="icon-basket-loaded icons" aria-hidden="true" style="color:white; width: 100px;"></i>
                        <% end %>
                    </div>
                  </div>
                </div>
  						</div>
              <div class="work-title p-t-20" data-id="<%='additem' + item.id.to_s%>" style="text-align:center;">
                <h5><%= link_to item.name, item_path(item.id) %></h5>
              </div>
  					</article>
          <% end %>
					<!-- END PORTFOLIO ITEM -->
				</div>
				<!-- END WORKS GRID -->
			</div>
			<!-- END WORKS WRAPPER -->
		</section>
		<!-- END PORTFOLIO -->
  </div>
  <!-- END WRAPPER -->
</div>
